/* Base styles */
body {
  background: #fff;
  font-size: 14px;
  width: 100%;
}

*,
*::before,
*::after {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.d-flex {
  position: relative;
  display: flex;
}

.d-block {
  display: block;
}

a {
  text-decoration: none;
}

.jc-btw {
  justify-content: space-between;
}

.pos-rel {
  position: relative;
  display: block;
}

.nav ul { 
  justify-content: space-between;
  display: flex;
}


